[build]
  command = "npm run build"
  publish = "dist"
  environment = { VITE_API_URL = "https://api.fixorium.com" }

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  port = 5173
