name = "fixorium-api"
compatibility_date = "2025-01-01"
# Fill in your Cloudflare account id when deploying
# account_id = ""
# Type can be 'javascript' or 'webpack'
type = "javascript"

# Entrypoint - point to the worker module that exports `onRequest` or default fetch handler
main = "src/worker.ts"

# Build configuration
[build]
command = "pnpm build"
cwd = "./"
watch_paths = ["client/**/*", "src/**/*", "vite.config.mjs"]

# Static asset handling
[site]
bucket = "dist"

# Environment variables for wrangler can be added here or set via `wrangler secret put`
[vars]
VITE_API_URL = "https://abc.khanbabusargodha.workers.dev"
VITE_API_BASE_URL = "https://abc.khanbabusargodha.workers.dev"
# SOLANA_RPC = "https://solana.publicnode.com"
