name = "wallet-c36"
pages_build_output_dir = "dist/spa"
compatibility_date = "2024-10-01"
compatibility_flags = ["nodejs_compat"]

[vars]
SOLANA_RPC = "https://rpc.shyft.to?api_key=3hAwrhOAmJG82eC7"
PUMPFUN_QUOTE = "https://pumpportal.fun/api/quote"
PUMPFUN_TRADE = "https://pumpportal.fun/api/trade"
DEXSCREENER = "https://api.dexscreener.com/latest/dex/tokens"
