name = "wallet-p2p-worker"
main = "./src/worker.ts"
compatibility_date = "2024-10-01"
compatibility_flags = ["nodejs_compat"]
workers_dev = true

[[durable_objects.bindings]]
name = "ROOM"
class_name = "DurableRoom"

[[migrations]]
tag = "v1"
new_classes = ["DurableRoom"]

[vars]
ALLOWED_PAYMENT = "easypaisa"
