name = "wallet-p2p-worker"
main = "./src/worker.ts"
compatibility_date = "2024-10-01"
compatibility_flags = ["nodejs_compat"]

[[durable_objects.bindings]]
name = "ROOM"
class_name = "DurableRoom"

[[migrations]]
 tag = "v1"
 new_classes = ["DurableRoom"]

[vars]
ALLOWED_PAYMENT = "easypaisa"

# Secrets that need to be set:
# - ADMIN_TOKEN: `wrangler secret put ADMIN_TOKEN --config ./cloudflare/wrangler.toml`
# - COINMARKETCAP_API_KEY: `wrangler secret put COINMARKETCAP_API_KEY --config ./cloudflare/wrangler.toml`
# - RAZORPAY_KEY_ID: `wrangler secret put RAZORPAY_KEY_ID --config ./cloudflare/wrangler.toml`
# - RAZORPAY_KEY_SECRET: `wrangler secret put RAZORPAY_KEY_SECRET --config ./cloudflare/wrangler.toml`

[[d1_databases]]
binding = "DB"
database_name = "fixorium_wallet_db"
database_id = "71fb347a-12c4-4306-b4ca-acf6beb67e0a"

[[kv_namespaces]]
binding = "WALLET_KV"
id = "your_kv_namespace_id"
preview_id = "your_kv_preview_namespace_id"
